/* @import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.bangla {
  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
}
